@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background-color: #181818;
}
@font-face {
  font-family: "exo";
  src: url("/fonts/exo.ttf");
}
@font-face {
  font-family: "exo_italic";
  src: url("/fonts/exo-italic.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #58585833;
  border: 5px solid transparent;
  border-radius: 5px;
}
