@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "exo";
  src: url("/fonts/exo.ttf");
}
@font-face {
  font-family: "exo_italic";
  src: url("/fonts/exo_italic.ttf");
}
